<!DOCTYPE html>
<html>
	<head>
	　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	    <meta name="author" content="于腾飞" />
	　　<title>{{ page.title }}</title>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/default.css">
	</head>
　  <body>
		<header>
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<ul class='nav navbar-nav'>
					<li><a href="/">首页</a></li>
					<li><a href="/about.html">关于</a></li>
				</ul>
		    </nav>
		</header>
		<div class='container'>
			<div class='col-lg-8 col-md-8 col-sm-8'>
				{{ content }}
			</div>
			<div class='col-lg-4 col-md-4 col-sm-4'>
				<aside>
					<ul>
						<li class='card-items'>
							<p>关于我</p>
							<ol>
								<li>毕业于江西环境工程职业学院（2010-2013）</li>
								<li>对于热爱计算机技术的我来说，只有不断学习才能跟上时代的脚步</li>
								<li>当我足够好，才会遇见你！</li>
							</ol>
						</li>
						<li class='card-items'>
							<p>目前已掌握的技能</p>
							<ol>
								<li>Html5、Css3、JavaScript</li>
								<li>bootstrap、elementUI、mintUI、ionicUI..</li>
								<li>Jquery、Angular、React、Vue、Node..</li>
								<li>Ajax、axios..</li>
								<li>Less..</li>
								<li>webpack、gulp</li>
								<li>git、svn</li>
							</ol>
						</li>
						<li>
							 <div class="guanzhu">扫描二维码添加<span>于腾飞微信</span></div>
		      				  <a class="weixin"><img src="/images/weixin.jpg"></a> </div>
						</li>
					</ul>
				</aside>
			</div>
		</div>
　　　　<footer>
		    <ul>
		      &copy;2017 by <a href="" title="于腾飞个人博客">于腾飞</a><br>
		      Powered by Git
		    </ul>
	    </footer>
　  </body>
</html>